@using Store.WebUI.Models
@using Store.WebUI.HtmlHelpers
@model ProductListViewModel

@{
    ViewBag.Title = "Goods";
}

@foreach(var p in @Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x=> Url.Action("List", new { page = x, category = Model.CurrentCategory}))
</div>

<h2>List</h2>

